:root {
  --bs-primary: #0b132b ;
  --bs-secondary: #1c2541;
  --bs-success: #3a7ca5;
  --bs-info: #b4adea;
  --bs-warning: #b45309;
  --bs-light: #f7f3e8;
  --bs-border-radius: 0.75rem;
  --bs-primary-rgb: 11, 19, 43;
  --bs-secondary-rgb: 28, 37, 65;
  --bs-success-rgb: 58, 124, 165;
  --bs-info-rgb: 180, 173, 234;
  --bs-warning-rgb: 180, 83, 9;
  --bs-light-rgb: 247, 243, 232;
}

body {
  background-image: linear-gradient(180deg, #0b132b , #3a7ca5, #b4adea);
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

/*same space for all sections*/
.section-spacing {
  padding: 4rem 0;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b45309;
  --bs-btn-border-color: #f7f3e8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1c2541;
  --bs-btn-hover-border-color: #2ea2c9;
  --bs-btn-focus-shadow-rgb: 87, 211, 252;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2ea2c9;
  --bs-btn-active-border-color: #2b98bc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #39cbfb;
  --bs-btn-disabled-border-color: #39cbfb;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3a7ca5;;
  --bs-btn-border-color: #f7f3e8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1c2541;
  --bs-btn-hover-border-color: #ba2869;
  --bs-btn-focus-shadow-rgb: 235, 81, 150;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ba2869;
  --bs-btn-active-border-color: #ae2662;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e83283;
  --bs-btn-disabled-border-color: #e83283;
}